*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212c91;
}
.container {
    height: 700px;
    width: 500px;
    background: white;
    padding: 1.25rem;
    border-radius: 3.625rem;
    box-shadow: 0px 0px 10px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border: 1px solid #c5c5c5;
    box-shadow: 10px 10px 50px #00000086;

}
h1{
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

p{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.625rem;
}
p input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000;
}
p input:focus{
    background-color: #f4f4f4;
}
button {
    background-color: #f1530f;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem;
    border: none;
    border-radius:  0.5rem;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff;
    border: 2px solid #f1530f;
    color: #000000;
}
.weight-guide{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

span{
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}